/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f4f4f4;
  }
  
  /* RED HEADER */
  .reg-header {
    background: #d60000;
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  .reg-header h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .reg-header p {
    font-size: 14px;
    opacity: 0.9;
  }
  
  .reg-header a {
    color: #ffe38f;
    text-decoration: underline;
  }
  
  /* WHITE MAIN FORM BOX */
  .reg-container {
    background: white;
    width: 80%;
    max-width: 900px;
    margin: -40px auto 60px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  }
  
  /* SECTION TITLE */
  .reg-title {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 18px;
  }
  
  /* FORM */
  .reg-form {
    width: 100%;
  }
  
  .reg-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .reg-field {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .reg-field label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .reg-field input,
  .reg-field select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  /* UPLOAD BOX */
  .upload-label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
  }
  
  .upload-box {
    border: 2px dashed #ccc;
    background: #fafafa;
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .upload-box i {
    font-size: 32px;
    color: #888;
  }
  
  .upload-note {
    font-size: 12px;
    margin-bottom: 20px;
    color: #444;
  }
  
  /* BUTTON AREA */
  .btn-area {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .btn-yellow {
    background: #ffe000;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-red {
    background: #d60000;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 12px; /* jarak antar tombol */
    margin-top: 20px;
  }
  
  
  .btn-grey {
    background: #cfcfcf;
    color: #000;
    padding: 10px 35px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn-grey:hover {
    background: #b3b3b3;
  }
  
  .btn-red {
    padding: 10px 22px;
    background: #C71E1E;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  
  .btn-red:hover {
    opacity: 0.9;
  }
  